:root {
  --primary: #fec739;
  --primary-text: #fec739;
  --blue2: #123857;
  --dark: #000;
  --white: #fff;
  --yellow: #fec739;
  --grey: #777;

  --card-width: calc(100vw/8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

body{
  min-height: 100vh;
  background-image: url("/images/BackgroundGrey.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


