.containter{
    position: relative;
    min-width: 200px;
    min-height: 268px;
    width: 100%;
    aspect-ratio: 0.74626;
    }

.box_video{
    position: relative;
    width: 100%;
    /* min-height: 137px; */
    min-height: 51%;
/*     border-radius: 15px;
    background: red;
    margin-bottom: 2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.box_video>video{
    inset: 0;
    overflow: hidden;
    width: 100%;
    object-fit: cover;  
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_text{
    background: #fff;
    /* min-height: 124px; */
    min-height: 44%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_text>h2{
    width: 100%;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 10%;
    text-transform: uppercase;
    /* font-size: calc(100vw/150); */
    letter-spacing: 0.1em;
    font-weight: 600;
    line-height: 1.1em;
    color: #333;
    text-align: right;
}
.box_text>p{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10%;
    padding-bottom: 10%;
    /* font-size: calc(100vw/250); */
    font-weight: 500;
    color: #999;
    line-height: 1.5em;
}

.buttom_read{
    position: absolute;
    transform: translateY(-50%);
    left: 30%;
    height: 10%;
    width: 40%;
    outline: none;
    transition: 0.5s;
    background: linear-gradient(94deg, #479ADD 0.27%, #123857 100%);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
    border: 5px solid #fff;
}
.buttom_read:hover{
    color: #123857;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient( 93.53deg, #fcfdfd 0.27%, #e4eaef 57.89%, #d2dce4 100% );
    box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
    transition: all 1s;
}

.circle{
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    min-width: 112px;
    min-height: 112px;
    height: 41.8%;
    width: 56%;
    background: linear-gradient(94deg, #479ADD 0.27%, #123857 100%);
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle>img{
    position: absolute;
    width: 60%;
    aspect-ratio: 1;
    object-fit: cover;  
    transform: translateX(33%) translateY(33%) ;
}